<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
<appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
</appSettings>
<connectionStrings>
  <add name="wad_db"
       connectionString="User Id=bogimanevijayakn;
       password=1546184; Data Source=dcm.uhcl.edu;
       Initial Catalog=c432017sp01bogimanevijayakn;"
       providerName="System.Data.SqlClient"/>
</connectionStrings>
</configuration>